@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  /* background: #111827; */
  font-family: "Poppins", sans-serif;
}

#principal {
  background-image: linear-gradient(to right, #b9babdce, #adaeafc7), url("../public/inicio.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}